*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* removes all the basic stylings that come with a browsers formatting of the code. Done so that there is not interferance with my prefared design of the todo list. */
}

body{
    background-image: linear-gradient(120deg, #2C3639, #3F4E4F);
    /* Opted to use "background-image" over the "background-colour". */
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}

header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Centred the header and the form vertically and horizontally. Also gave them both a minimum height. */
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    /* balanced the added elements and unified the button with the input form giving it a cleaner finish and design. Removing the borders gave the product a minimal and attractive look*/
}

form button{
    color: #3F4E4F;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    /* makes the "new task" button match the colour of the background further instilling the desired unified look. Changing the cursor to "pointer" makes the button appear clickable, increasing the user-friendliness of this design. The transition was made to feel a lot snappier and smoother.*/
}

form button:hover{
    background: #3F4E4F;
    color: white;
    /* Inverts the colours of the button upon hover to compliment the cursor pointer and further indicate that it is clickable for user-friendliness. */
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.trash-btn, .complete-btn {
    background: #dd4324;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;

}

.complete-btn {
        background: rgb(73, 204, 73);
    }

.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{
    pointer-events: none;
    /* Removed the issues experienced with the buttons not being able to be clicked at any part of the squares. */
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;

}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;

}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: #3F4E4F;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after{
    content: "\25BC";
    position: absolute;
    background: #2C3639;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after{
    background: white;
    color: #2C3639;
}

footer {
    text-align: center;
    background-color: #2C3639;
    font-size: 14px;
    padding: 10px;
}

footer a {
    color: white;
    text-decoration: underline;
  }
